
.card {
  margin-top: 5rem;
  background:white;
  border: 2rem solid #ddd;
  border-radius: 8px;
  padding: 8rem;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.card:hover {
  transform: translateY(-5px);
}

.perfect {
  border-color: gold;
  background-color: #fffbf0;
}
.perfect:hover{
transform: scale(1.02);
box-shadow: 0 6px 12px rgb(255, 238, 0);
}

.other {
  border-color: silver;
  background-color: #f5f5f5;
}
.other:hover{
  transform: scale(1.02);
  box-shadow: 0 2rem 4rem rgb(255, 1, 1);
  }
  .moyen {
    border-color: silver;
    background-color: #f5f5f5;
  }
  .moyen:hover{
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgb(184, 183, 183);
    }
.poster {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 12px;
}
.info p{
  margin:4rem 0;
  font-size: 14px;
  color:rgb(48, 46, 46);
}
 /* body{
  background-image: url(/src/assets/img/roll.jpg);
}  */
/* h2{
  color: rgb(255, 253, 253);
} */
.rating-gap{
  display: flex;
  gap:1rem;
  margin-top:2rem;
  font-size: 1rem;
  justify-content: center;
  padding: 2rem;
  
}




