.productImage {
  margin-top: 5rem;
  background: white;
  border: 2px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.productImage:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgb(255, 238, 0);

}


.productImage img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px 0;
  font-size: 14px;
  color: rgb(48, 46, 46);
  text-align: center;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 1rem; 
  width: 100%;
}

.total {
  display: flex;
  align-items: center; 
  gap: 0.5rem; 
  margin-top: 1rem;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem; 
  width: 100%;
}

.name {
  display: flex;
  align-items: center; 
  gap: 0.5rem;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem; 
  margin: 8px 0;
  color: rgb(17, 16, 16);
  width: 100%;
}